* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav .main-nav {
    margin-top: -10px;
    display: flex;

    align-items: center;
    justify-content:space-between;
    padding:20px;   
    width: 100%;
}

.page1{

    height: 100vh;
    background: #F6FFFA;

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

 .aboutSection{
    /* background-color: red; */
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 20px 40px;
    min-height: 200px;
}

.aboutSection .textWrapper{
    width: 70%;
}




 .card{
    width: 30vw;
    /* background-color: rgba(0,255,0,0.3); */
    background: #D2F3DE;

    min-height: 200px;
}